In [1]:
import pandas as pd
import numpy as np

In [20]:
testdata = pd.DataFrame({"Apple": [1,2,3,4,5],
                        "Orange": [4,5,6,7,8],
                        "Pear": [4,5,6,7,8],
                        "Lemon": [4,5,6,7,8]})

In [21]:
testdata2 = pd.concat([testdata, testdata], axis=1)
testdata2
#(testdata.copy())

   Apple  Lemon  Orange  Pear  Apple  Lemon  Orange  Pear
0      1      4       4     4      1      4       4     4
1      2      5       5     5      2      5       5     5
2      3      6       6     6      3      6       6     6
3      4      7       7     7      4      7       7     7
4      5      8       8     8      5      8       8     8

In [28]:
testdata.drop(testdata.columns.to_series()[2:4], axis=1)

   Apple  Lemon
0      1      4
1      2      5
2      3      6
3      4      7
4      5      8

In [27]:
testdata.columns.to_series()[1:3]

Lemon      Lemon
Orange    Orange
dtype: object

In [8]:
testdata.drop("Orange", axis=1, inplace=True)

ValueError: labels ['Orange'] not contained in axis

In [9]:
testdata

   Apple
0      1
1      2
2      3
3      4
4      5